{{#each songs}}
  <div class="song-name">
    <div>
      <h3> {{name}} </h3>
      <h5> Performed by: {{artist}} on the album {{album}}</h5>
    </div>
    <button type= "button" class='deleteButton'>Remove Song</button>
  </div>
{{/each}}

  
  

        